# EDA Rápido Antes de la Limpieza

**Objetivos:**

* Ver la estructura de los datos.
* Ver las estadísticas generales.
* Identificar valores nulos.
* Identificar duplicados.
* Detectar Outliers
<!-- 6. Corregir formatos y tipos de datos () -->

In [68]:
# Importar Librerías necesarias
import pandas as pd # Data manipulation
import numpy as np # Numerical operations
import matplotlib.pyplot as plt # Data visualization
import seaborn as sns # Data visualization
import plotly.express as px # Interactive data visualization

In [69]:
# Cargar los datos
ruta_archivo = "../data/raw/amazon_sales_data 2025.csv" 

datos = pd.read_csv(ruta_archivo)
# Mostrar las primeras filas del DataFrame
datos.head()

,Order ID,Date,Product,Category,Price,Quantity,Total Sales,Customer Name,Customer Location,Payment Method,Status
0,ORD0001,14-03-25,Running Shoes,Footwear,60,3,180,Emma Clark,New York,Debit Card,Cancelled
1,ORD0002,20-03-25,Headphones,Electronics,100,4,400,Emily Johnson,San Francisco,Debit Card,Pending
2,ORD0003,15-02-25,Running Shoes,Footwear,60,2,120,John Doe,Denver,Amazon Pay,Cancelled
3,ORD0004,19-02-25,Running Shoes,Footwear,60,3,180,Olivia Wilson,Dallas,Credit Card,Pending
4,ORD0005,10-03-25,Smartwatch,Electronics,150,3,450,Emma Clark,New York,Debit Card,Pending

### Ver estructura del dataset

In [70]:
# Ver información general del dataset
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order ID           250 non-null    object
 1   Date               250 non-null    object
 2   Product            250 non-null    object
 3   Category           250 non-null    object
 4   Price              250 non-null    int64
 5   Quantity           250 non-null    int64
 6   Total Sales        250 non-null    int64
 7   Customer Name      250 non-null    object
 8   Customer Location  250 non-null    object
 9   Payment Method     250 non-null    object
 10  Status             250 non-null    object
dtypes: int64(3), object(8)
memory usage: 21.6+ KB

In [71]:
# Cantidad de filas y columnas
print(f"El dataset tiene {datos.shape[0]} filas y {datos.shape[1]} columnas.")

El dataset tiene 250 filas y 11 columnas.

In [72]:
# Ver las columnas del dataset
datos.columns

Index(['Order ID', 'Date', 'Product', 'Category', 'Price', 'Quantity',
       'Total Sales', 'Customer Name', 'Customer Location', 'Payment Method',
       'Status'],
      dtype='object')

In [73]:
# Tipos de datos para cada columna
datos.dtypes

Order ID             object
Date                 object
Product              object
Category             object
Price                 int64
Quantity              int64
Total Sales           int64
Customer Name        object
Customer Location    object
Payment Method       object
Status               object
dtype: object

### Ver estadísticas generales

In [74]:
# Ver estadisticas del dataset
datos.describe() # Para solo datos de tipo numérico

             Price    Quantity  Total Sales
count   250.000000  250.000000   250.000000
mean    343.580000    2.856000   975.380000
std     380.635808    1.429489  1252.112254
min      15.000000    1.000000    15.000000
25%      40.000000    2.000000   100.000000
50%     150.000000    3.000000   400.000000
75%     600.000000    4.000000  1500.000000
max    1200.000000    5.000000  6000.000000

In [75]:
datos.describe().style.applymap(lambda v: 'color: green; font-weight: bold')

C:\Users\harri\AppData\Local\Temp\ipykernel_16312\2305181076.py:1: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  datos.describe().style.applymap(lambda v: 'color: green; font-weight: bold')